<div>
    <p class='error' ng-show='error'>
        <ng-include src="'partial/error-panel.html'"></ng-include>
    </p>
    <div class="intro clearfix">
        <div class="information">
            <h1 gr-key>Welcome to <b>nailinhead</b> application!</h1>
            <div ng-include="'partial/help.' + currentLanguage + '.html'"></div>
        </div>
        <div class="right-panel">
        <div class="login-form">

            <lang-selector></lang-selector>
            <form class="login">
                <label>
                    <span gr-key>Username:</span> <input ng-model="auth.username"/>
                </label>
                <label>
                    <span gr-key>Password:</span> <input ng-model="auth.password" type="password"/>
                </label>
                <section class="buttons">
                    <button class="btn btn-primary" long-click="login()" processing="logReg" gr-key>Login</button>
                    <span gr-key>-or-</span>
                    <button class="btn btn-good" long-click="register()" processing="logReg" gr-key>Register</button>
                </section>
            </form>
        </div>
        <div class="contacts">
            <a href="mailto:alexey.grishin@gmail.com" gr-key>Send me e-mail</a>
        </div>
        </div>
    </div>

</div>