<section>
    <div class="group-selector" ng-class="{on: taskBooked, off: !taskBooked}" ng-click="toggleBooked()" ng-hide="task.status == 'completed'">
        <span ng-show="taskBooked" >booked</span>
        <span ng-show="!taskBooked">not booked</span>
    </div>
    <div ng-switch="task.status" class="status-action">
        <button class="btn" ng-switch-when="available" ng-click="toggleTask()" title="Click to buy this item">{{options.currency}}  {{task.cost}}</button>
        <span ng-switch-when="completed">{{options.currency}}  {{task.cost}} <a ng-click="toggleTask()" class="link-danger" title="Click to cancel buying this item">&times;</a></span>
        <span ng-switch-default title="This item is unavailable">{{options.currency}}  {{task.cost}}</span>
    </div>
</section>