
<div class="top-panel">
    <h3 gr-key>Projects list</h3>
    <div class="buttons">
        <button class="btn btn-primary add-new-project"
                dialog-panel-trigger="addProjectDialog"
                gr-key
                >Add new project</button>
    </div>

    <dialog-panel show-if="addProjectDialog"
                  class="add-project-dialog one-line"
                  save-button-title="Save"
                  cancel-button-title="Close"
                  gr-attrs="save-button-title,cancel-button-title"
                  on-save="addProject()" on-hide="addProjectDialog=false">
        <label>
            <span gr-key>New project name:</span>
            <input ng-model="newProject.title" class="input-long"/>
        </label>
    </dialog-panel>
</div>

<div ng-include="'partial/selector.html'"></div>

<div class="data">
    <div class="loading" ng-show="loading" gr-key>
        Loading, please wait...
    </div>
    <div class="empty-case" ng-show="projects.length == 0 && !loading">
        <ul>
            <li gr-key>Create your first project first!</li>
        </ul>
    </div>
    <ul class="projects-list clearfix">
        <li ng-repeat="project in projects">
            <div project-thumb="project" selection="selection" delete-project="deleteProject(project)"></div>
        </li>
    </ul>
</div>
