
<div class="top-panel">
    <h3>Projects list</h3>
    <div class="buttons">
        <button class="btn btn-primary add-new-project"
                dialog-panel-trigger="addProjectDialog"
                >Add new project</button>
        <button class="btn btn-danger btn-drop-area delete-project">
            Drop to delete
        </button>
    </div>

    <dialog-panel show-if="addProjectDialog" class="add-project-dialog one-line" on-save="addProject()" on-hide="addProjectDialog=false">
        <label>
            New project name:
            <input ng-model="newProject.title" class="input-long"/>
        </label>
    </dialog-panel>
</div>

<div ng-include="'partial/selector.html'"></div>

<div class="data">
    <div class="loading" ng-show="loading">
        Loading, please wait...
    </div>
    <div class="empty-case" ng-show="projects.length == 0 && !loading">
        <ul>
            <li>Create your first project first!</li>
        </ul>
    </div>
    <ul class="projects-list clearfix">
        <li ng-repeat="project in projects"  delete-to="delete-project" on-delete="deleteProject(project)">
            <div project-thumb="project" selection="selection"></div>
        </li>
    </ul>
</div>
