@import "consts";
@import "elements";

.bg-with-hover(@bg) {
  background-color: @bg;
  .transition-duration();
  &:hover {
    .box-shadow(0 0 4px darken(@bg, 50%));
  }
  &:active {
    background-color: darken(@bg, 5%);
  }
}

.pressed-button {
  .transform(translate(1px,1px));
}

.btn-primary() {
  .bg-with-hover(@goldLight);
  color: @goldDark;
}

.btn-danger {
  .bg-with-hover(@redLight);
  color: @redDark;
}

.btn-disabled {
  background-color: @grayLight ;
  color: @grayDark;
}

.link-danger {
  color: @redLight;
  cursor: pointer;
  text-decoration: none !important;
  font-style: normal !important;
}

///buttons
.btn {
  font-variant: small-caps;
  font-size: @fontBig;
  color: white;
  border: none;
  padding: 5px 10px;
  &:active {
    .pressed-button();
  }

  &.btn-primary {
    .btn-primary();
  }
  &.btn-danger {
    .btn-danger();
  }
  &.btn-drop-area {
    .opacity(0.5);
    &.ready-to-drop {
      opacity: 1;
      .box-shadow(0 0 4px darken(@redDark, 50%));
    }
    &.drop-here {
      opacity: 1;
    }
    &:hover {
      .box-shadow(none);
      cursor: default;
    }
  }
}

button.link {
  .btn();
  background: none;
  color: @defPanelFg;
  text-decoration: underline;
}

/// forms
.dialog-panel {
  width: 100%;
  .transition-duration();
  opacity: 0;
  height: 0;
  form {
    padding: 0;
    display: none;
  }
  .buttons {
    text-align: right;
    padding: 10px;
  }
  &.shown {
    height: 100%;
    opacity: 1;
    z-index: 5;
    form {
      padding: 10px;
      height: 100%;
      display: block;
    }
  }
  background-color: @defPanelBg;

  &.one-line {
    .dialog-content {
      float: left;
      height: 30px;
      line-height: 30px;
    }
    .buttons {
      float: left;
      height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-right: 0;
      padding-left: 10px;
      padding-bottom: 0;
    }
  }
}

form {
  background-color: @defPanelBg;
  padding: 5px;
}

input{
  .transition-duration();
  border: white 1px solid;
  font-size: @fontBig;
  padding: 4px 10px;

  &.input-long {
    width: 200px;
  }

  &.input-short {
    width: 50px;
  }

  &:active {
    border: @goldDark 1px solid;
    .inner-shadow();
  }
}

.btn.dialog-trigger-pressed {
  background-color: @defPanelBg;
  color: white;
}