@import "consts";
@import "elements";
@import "controls";
@import "projects";
@import "project";
@import "selection";
@import "login";
@import "report";


.autoGradient(@color, @prc:10%) {
  .gradient(@color, @color, lighten(@color, @prc))
}


@font-face {
  font-family: 'open_sanslight';
  src: url('OpenSans-Light-webfont.eot');
  src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Light-webfont.woff') format('woff'),
  url('OpenSans-Light-webfont.ttf') format('truetype'),
  url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('OpenSans-Regular-webfont.eot');
  src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Regular-webfont.woff') format('woff'),
  url('OpenSans-Regular-webfont.ttf') format('truetype'),
  url('OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "open_sans", "Segoe WP", "Verdana", sans-serif;
  font-size: @fontNormal;
}

.limited-width {
  width: 100%;
  max-width: 1000px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}



.header-content {
  .limited-width();
}

.main-content {
  padding-top: @topHeaderHeight + 2*@topHeaderPadding + 5;
  padding-bottom: @footerHeight;
  position: relative;
  .limited-width();
  .top-panel {
    padding-top: @topPanelPadding;
    line-height: 30px;
    min-height: @topPanelHeight;
    h3 {
      font-size: @fontBig;
      display: inline;
    }
    &> .buttons {
      float: right;
    }
  }
}

.data {
  //background-color: #eee;
}

//header

.header {
  width: 100%;
  z-index: 100;
  height: @topHeaderHeight;
  padding: @topHeaderPadding;
  font-size: @fontBiggest;
  position: fixed;
  .drop-shadow(0, 2px, 4px, 0.9);
  a {
    &:hover {
      text-decoration: none;
    }
    img {
      height: 30px;
    }
    h3 {
      margin: 0;
      padding: 0;
      display: inline;
      color: black;
    }
  }
  .groups {
    float: right;
    color: @cyanDark;
    padding: 4px 10px;
    margin-right: 10px;
    .currency {
      color: @cyanDark;
      text-shadow: none;
      padding-top: 4px;
    }
  }
  .budget {
    float: right;
    margin-right: 10px;
    width: 150px;
    .currency {
      padding-top: 4px;
      max-width: 35px;
    }
    input {
      .transition();
      border: none;
      color: #b8860b;
      font-size: @fontBiggest;
      font-weight: bold;
      background: none;
      width: 90px;
      text-align: right;
      &.start-counting {
        //color: #e6a80b;
        text-shadow: 0 0 1px #e6a80b;
      }
      &:focus {
        background: white;
        color: black;
        .inner-shadow()
      }
    }
  }
  .autoGradient(@headerBg)
}

//footer
.footer {
  position: fixed;
  .drop-shadow(0, -2px, 4px, 0.2);
  height: @footerHeight;
  line-height: @footerHeight;
  bottom: 0;
  left: 0;
  right: 0;
  .footer-content {
    .limited-width();
    ul.nav {
      float: left;
      list-style: none;
      font-size: @fontBig;
      text-transform: uppercase;
      > li {
        float: left;
        margin-right: 10px;
        &.selected {
          font-weight: bold;
          border-bottom: 2px solid @cyanDark
        }
      }
      margin-top: 0;
    }
    text-align: right;
    > .lang-selector {
      display: inline-block;
      margin-right: 20px;
    }
    > strong.user-name {
      padding-right: 10px;
    }
    > button {
      float: right;
    }
  }
  .autoGradient(@grayPanel);
}

span.currency {
  font-size: @fontBigger;
  color: #444;
  text-shadow: 0px 0px 4px @goldDark;
  font-style: normal;
}