// project page
a.back {
  display: inline-block;
  background: url(../img/left_round.png);
  height: 26px;
  margin: 4px;
  text-decoration: none;
  background-repeat: no-repeat;
  padding-left: 26px;
  color: black;
  &:active {
    .pressed-button();
  }
}

ul.tasks-list {
  list-style: none;
  padding-left: 0;

  li {
    .transition-duration();
    min-height: 50px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #cccccc;
    > strong {
      display: block;
      line-height: 50px;
      margin-right: 100px;
      font-size: @fontBigger;
      padding-left: 30px;

      &:hover {
        background-image: url(../img/pencil.png);
        background-position: 6px center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    > div.dialog-panel {
      width: auto;
      margin-left: 20px;
    }

    > section {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 10px;
      width: 200px;
      button {
        width: 90px;
      }
      em {
        height: 30px;
        display: inline-block;
        width: 106px;
        line-height: 30px;
        font-size: @fontBigger;
        font-style: normal;
        text-align: right;
      }
      em:after {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 25px;
        line-height: 25px;
        font-variant: "small-caps";
        font-size: @fontNormal;
        content: "locked";
      }
    }



    &.completed {
      background-color: @greenPanel;
      section button {
        .btn-danger();
      }
      strong, em {
        text-decoration: line-through;
        font-style: italic;
      }
      em:after {
        content: "done";
        color: #228b22;
      }
    }

    &.unavailable {
      section button {
        .btn-disabled();
      }
      strong, em {
        color: gray;
      }
      em:after {
        content: "locked";
        color: gray;
      }
    }

    &.available {
      background-color: @goldPanel;
      section button {
        .btn-primary();
      }

      em {
        color: @goldDark;
      }
      em:after {
        content: "unlocked";
        color: @goldDark;
      }
    }

  }
}

