<div class="selection-panel" ng-class="{'hidden-panel': selection.tasks.length == 0}" ng-cloak>
    <div class="selection-content">
        <strong title="Click to deselect all" ng-click="selection.deselectAll()" gr-attrs="title">
            <span  gr-key>{{selection.tasks.length}} task(s) selected</span>
            <span class="hint" ng-show="selection.tasks.length == 1" gr-key>Ctrl+Click to select more</span>
            <a  gr-key>Deselect all</a>
        </strong>

        <task-selection-list selection="selection"></task-selection-list>
    </div>
</div>