<h3>Для чего нужен nailinhead</h3>
<p><b>nailinhead</b> разрабатывался как планировщик расходов, позволяющий представить общий объем предстоящих покупок и
    сопоставить с имеющимися или планируемыми средствами. Ну и
    посмотреть некий отчет по тратам за прошедший период.
</p>
<h3>Как работать с nailinhead</h3>
<ol>
    <li>
        Введите текущий бюджет.
        <p class="img"><img src="img/help1.png"></p>
    </li>
    <li>
        Заведите один или несколько проектов. Каждый проект содержит связанные тематически покупки, например "одежда" или "путешествия".
        <p class="img"><img src="img/help2.png"></p>

    </li>
    <li>
        В проектах добавьте планируемые покупки и их стоимость.
        <p class="img"><img src="img/help3.png"></p>
    </li>
    <li>
        На главном экране или внутри проекта просмотрите свои покупки. Вы можете выделить несколько (щелчком с Ctrl) чтобы увидеть общую стоимость
        <p class="img"><img src="img/help4.png"></p>
    </li>
    <li>
        Если хотите, можете пометить какие-то из покупок как "резерв". Общую сумму резерва вы всегда можете посмотреть в верхней части экрана, слева от бюджета
        <p class="img"><img src="img/help5.png"></p>
    </li>
    <li>
        Когда покупка совершена, жмите на стоимость - бюджет будет пересчитан, а совершенная покупка будет видна на странице "отчеты"
        <p class="img"><img src="img/help6.png"></p>
    </li>
</ol>
<p>Примечания</p>
<ol>
    <li>Если покупка отображается в отчетах не в том месяце, нажмите иконку <i class='edit icon-sample'></i> и выберите правильную дату</li>
    <li>Для изменения бюджета нажмите иконку <i class='edit icon-sample'></i> рядом с бюджетом. Старайтесь только увеличивать бюджет таким образом, а уменьшать через добавление покупок.</li>
    <li>Можете смело удалять завершенные задачи, из отчетов они никуда не пропадут.</li>
</ol>
<h3>Если у вас есть вопросы или предложения</h3>
<a href="mailto:alexey.grishin@gmail.com">Напишите мне</a>