<div class="project">
    <div class="task-thumb {{task.status}}"
         ng-class="{booked: isBooked({task:task}), selected: isSelected(task)}"
         ng-repeat="task in thumb.tasksToShow"
         ui-title="{{budget.currency}} {{task.cost | cost:'&nbsp;'}}"
         select-to='selection' select='task' select-with='ctrl-click'
         ng-click="click(task)"
            >
        <span class='tag tag-cyan' ng-show='isBooked({task:task})' gr-key>booked</span>
        <ng-switch on="task.status">
            <span ng-switch-when="more" gr-key>Show the rest {{task.rest}} task(s)</span>
            <span ng-switch-default>{{task.title}}</span>
        </ng-switch>

    </div>
    <div class="hint" ng-show="thumb.tasksToShow.length == 0" gr-key>
        No ongoing tasks. You may delete this project or <a href="#/{{project.objectId}}">add new task</a>
    </div>
    <strong><a href="#/{{project.objectId}}">{{project.name}}</a></strong>
    <div class="triangle-btn delete" ng-click="deleteProject()" ng-show="thumb.tasksToShow.length == 0"
         ui-title="Click to delete the project" gr-attrs="ui-title"><i></i></div>
</div>